body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #230443;
}

.nosotros {
  padding: 40px;
  text-align: center;
}

.nosotros h1 {
  color: wheat;
}

.desc {
  max-width: 600px;
  margin: 0 auto 20px;
  color: wheat;
}

.imagen {
  width: 60%;
  max-width: 400px;
  border-radius: 10px;
  margin: 20px 0;
}

.info {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: orange;
}